<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_occurrence.event.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @event_occurrence.state %>
</p>

<p>
  <strong>Aforo:</strong>
  <%= @event_occurrence.aforo %>
</p>

<p>
  <strong>Confirmations:</strong>
  <%= @event_occurrence.num_confirm %>
</p>
