<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :recurring_rule, :class => 'control-label' %>
    <div class="controls">
      <%= f.select_recurring :recurring_rule, nil, :allow_blank => true %>
      <%#= f.text_field :recurring_rule, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :start_date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :aforo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :aforo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :first_call, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_call, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :last_call, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_call, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :call_hour, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :call_hour, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rush_start, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rush_start, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
